@charset "UTF-8";

//banner vars
$bannerWidth: <%= bannerWidth %>px;
$bannerHeight: <%= bannerHeight %>px;
$bannerBackColor: #ffffff;

@import '../../common/common.scss';


///////////////////////////////////////////////////////////////////////////////
// Custom SCSS
///////////////////////////////////////////////////////////////////////////////
